/** END: Non Openmrs CSS **/
input {
    background-color: #b4babe;
}

div.style-input-container {
    margin-bottom: 1.5rem;
    position: relative;
    width: 15rem;
}
  
/* Input*/
.style-input > input {
    border: none;
    border-bottom: 0.125rem solid var(--style-color-contrast);
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
    border-radius: 20px;
    background-color: transparent !important;
}

.style-input > button {
    color: var(--white);
    border: 2px solid var(--style-color-contrast);
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    line-height: 147.6%;
    padding-top: 3px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--bg-input);
}

.style-input > button:hover {
    background-color: var(--bg-btt);
}

.style-input > input:focus {
    outline: none;
}

.style-input > .style-input-label {
    position: absolute;
    top: 4px;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--style-color-contrast);
    transition: top .2s;
}


.img-eye > img {
    width: 22px;
    position: absolute;
    top: 6px;
    right: 7px;
    cursor: pointer;
}


.style-input > .omrs-input-helper {
    font-size: 0.9375rem;
    color: var(--style-color-contrast);
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
}


/* .style-input > input:hover {
    background: var(--omrs-color-interaction-minus-two);
    border-color: var(--omrs-color-ink-high-contrast);
} */

.style-input:not(.omrs-input-danger) > input:hover + .style-input-label {
    color: var(--bg-input-focus-hover);
}
.style-input:not(.omrs-input-danger) > input:hover {
    border-color: var(--bg-input-focus-hover);
}

.style-input > input:focus + .style-input-label,
.style-input > input:valid + .style-input-label {
    top: -10px;
    font-size: 0.9375rem;
    margin-bottom: 32px;;
}


.style-input > input:focus + .style-input-label {
    color: var(--bg-input-focus-hover);
}


.style-input > input:focus {
    border-color: var(--bg-input-focus-hover);
}


/* DARK/LIGHT */
.switch__container {

    right: 0;
    margin: 0 auto;
    margin-right: 10px;
    position: absolute;
}

.switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--flat + label {
    padding: 2px;
    width: 53px;
    height: 25px;
    background-color: var(--white);
    border-radius: 60px;
    transition: background 0.4s;
}

.switch--flat + label:before, .switch--flat + label:after {
    display: block;
    position: absolute;
    content: "";
}
.switch--flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: var(--bg-input);
    border-radius: 60px;
    transition: background 0.4s;
} 
.switch--flat + label:after {
    top: 1px;
    left: 2px;
    bottom: 4px;
    width: 18px;
    border-radius: 52px;
    transition: margin 0.4s, background 0.4s;

    font-family: "Font Awesome 5 Free";
    color: var(--white); 
    text-align: center; 
    line-height: 25px; 
    content: "\f186";
}
.switch--flat:checked + label {
    background-color: var(--white);
}

.switch--flat:checked + label:after {
    margin-left: 30px;
    content: "\f185";
}



@media (max-width: 920px){
    .switch__container {
        right: 0;
        /* margin: 15px; */
        margin: 0 auto;
        margin-right: 70px;
        /* margin-right: 22%; */

    }

}

/* .switch--flat + label:hover {
    background: var(--lightTurquoise) !important;
} */
/* .switch--flat + label:hover:after {
    color:  var(--lightTurquoise) !important;
} */


/** DANGER **/

/* .style-input.omrs-input-danger > .style-input-label, .style-input.omrs-input-danger > .omrs-input-helper{
    color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
    fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
    border-color: var(--omrs-color-danger);
}


.style-input > input {
    background: var(--bg-input);
} */